
.padding-zero{
	padding: 0;
}
.padding-top-zero{
	padding-top: 0px;
}
.padding-right-zero{
	padding-right: 0px;	
}
.padding-bottom-zero{
	padding-left: 0px;	
}
.padding-left-zero{
	padding-right: 0px;	
}

/* Remove the margin properties */
.margin-zero{
	margin: 0;
}
.margin-top-zero{
	margin-top: 0px;
}
.margin-right-zero{
	margin-right: 0px;	
}
.margin-bottom-zero{
	margin-left: 0px;	
}
.margin-left-zero{
	margin-right: 0px;	
}



.margin-10{
	margin: 10px;
}

.padding-15{
	padding: 15px;
}

