$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

body {
   /* background-image: url("../assets/bg-image.jpg");
    background-repeat: repeat;*/
}

.header{
  background-color: #000000;
}

.header-container{
  padding: 20px;
}

.logo-img
{
  width: 60px;
}

.logo-txt{
  font-size: 30px;
  color: #FF7700;
  cursor: pointer;
}

.navbar-brand {
  float: left;
  padding: 15px 0px;
}

.navbar-header {
    padding-left: 0px;
}
.filter-bar{
  background-color: #B0CFDA;
  padding: 20px;
}

.add-holder{
  background-color: #ccc;
  height: 800px;
  
  text-align: center;
}

.main-view{
    margin-top: 10px;
}

.center-div{
  margin: 0 auto;
    float: none;
}

.user-account{
  padding: 15px 0px;
}

.category{
  padding: 15px;
}

.category-holder{
  padding: 10px;
  border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.category-holder img{
  width: 100%;
  cursor: pointer;
}

.user-links-out{
  color: #ffffff;
}

.user-links-out a{
  color: #ffffff;
}

.user-links-out a:hover{
  color: #2965BE;
}

.top-seling-heading{
  border-bottom: solid 2px;
}
.top-seling-gallery{
  padding: 10px;
}

.text-align-center{
  text-align: center;
}

.margin-0-auto{
  margin: 0 auto;
}


.cellContainer {
    margin:0 auto;
    display: inline-block;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


.navbar {
  margin-bottom: 0px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
